.grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: var(--background);
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  padding: clamp(10px, -0.4779rem + 2.9412vw, 30px) 20px;
}

@media only screen and (width <= 600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
